/*Estilos de index.html*/

/*Configuración de las variables globales*/
:root{
  /*Configuraci{on de variables de color*/
    --primary-color:#9f3647;
    --secondary-color:#fdede3;
    --tertiary-color:#db4648;
    --third-bis-color:#db4648f2;
    /*colores de fondo*/
    --bg-color:#181419;
    --bg-inpút-color:#2f1b352c;
    /*fuente primaria*/
    --primary-font: 'Roboto', sans-serif, helvetica;

}
body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--primary-font);
}
header{
    background-color:var(--primary-color) ;
    padding: 2vh 0;
}
/*Al aplicar display: flex a un elemento padre, se convierte en un contenedor flexible
que orgniza a sus elementos hijos de manera flexible
en una sola linea o en varias lineas según sea necesario.*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
 
}
/*Pseudoclases es un selector que marca los elementos que están en un estado
 específico first-child: significa primer hijo */
 nav ul li:first-child{
    margin-left: 0;
 }
 nav ul li:last-child{
    margin-right: 2vw;
 }
 /*Trabjamos con etiquetas clickeables*/
 nav ul li a, nav>a{/*Especifico que me refiero a "a" que esta en el nav*/
  display:block;
  border-radius: 5px;
  padding:10px 20px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: background-color 0.3s;
 }
 nav ul li a:hover{
    background-color: var(--bg-inpút-color);
  
 }
/*animaciones del boton*/
.container{
    display:flex;
    justify-content: center;/*horizontal*/
    align-items:center;/*vertical*/
    height: 100vh;
}
.btn{
    padding:10px 20px;
    font-size: 1rem;
    background-color: var((--primary-color));
    border: none;
    border-radius: 5px;
    transition: background-color 0,3s;
}
.btn:hover{
    background-color: var(--bg-inpút-color);
    
}
/*animaciones*/
@keyframes pulso{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.btn:hover{
    animation: pulso 0.5s infinite alternate;
}